// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.banner{
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4)), url('CINE.jpg');
  img {
  height: 100px;
  }
}
